<configuration>
    <property name="SERVICE_NAME" value="scala-wars-kafka-service"/>
    <property name="SERVICE_GROUP" value="engine-backend-ews"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"serviceName":"${SERVICE_NAME}","serviceGroup":"${SERVICE_GROUP}"}</customFields>
        </encoder>
    </appender>

    <appender name="ASYNC-STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC-STDOUT"/>
    </root>

</configuration>


